body {
  main.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(200px, auto);
    .main-div {
      color:white;
      background: rgb(42, 0, 52);
    }
    .main-div:nth-child(odd) {
      color:white;
      background: rgb(0, 8, 52);
    }
    section.main-div {
      div.row-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
        figure {
          color: white;
          background: black;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      div.row-2 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: minmax(200px, auto);
      }
    }
  }
}
